  body {
    background-color: #4cb1df;
  }
  

  form {
      background-color: #e91811;
    }
  button {
      background-color: #f80e0e;
  }

  header {
    font-family: italic;
}
section {
    list-style: circle;
  }
  
 
  

   