  body {
    background-color: cyan;
  }
  
  .principal{
       background: #cccccc;
      padding: 10px;      
    }

    h1 {
      text-align: center;
    }

    #banner {
      width: 100%;
      height: 50%;
            
    }
  


  
 
  

   